@use "./index.scss" as *;
@use "@/variables.scss" as *;

.db-item-row {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 5px 8px;
  border-bottom: 1px solid var(--b3-border-color);
  cursor: pointer;
  transition: background-color 0.12s;

  &:hover {
    background: var(--b3-theme-surface-lighter);

    .db-item-actions {
      opacity: 1;
    }
  }

  &.is-file {
    .db-item-icon {
      color: var(--b3-theme-on-surface-light);
    }

    .db-item-label {
      font-family: $vp-mono;
    }
  }
}

.db-item-name {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.db-item-icon {
  flex-shrink: 0;
  color: var(--b3-theme-primary);
}

.db-item-label {
  font-size: $font-size-xs;
  color: var(--b3-theme-on-background);
  @include text-ellipsis;
}

.db-item-size {
  width: 55px;
  flex-shrink: 0;
  text-align: right;
  font-family: $vp-mono;
  font-size: $font-size-2xs;
  color: var(--b3-theme-on-surface-light);
  opacity: 0.6;
}

.db-item-date {
  width: 52px;
  flex-shrink: 0;
  text-align: right;
  font-family: $vp-mono;
  font-size: $font-size-2xs;
  color: var(--b3-theme-on-surface-light);
  opacity: 0.6;
}

.db-item-actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1px;
  opacity: 0;
  transition: opacity 0.12s;
  margin-left: 4px;
}

.db-action-btn {
  &.is-favorite {
    color: var(--b3-theme-primary);
  }
}
